name: "Code Formatters"
on:
  pull_request:
    branches:
      - main
    paths:
      - "**.sh"
      - "**.lua"
      - "**.yml"
      - "**.yaml"
      - "**/.github/workflows/**"
      - "**.js"
      - "**.ts"
      - "**.json"
      - "**.md"
      - "**.nix"
permissions:
  contents: read
  pull-requests: read
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      lua: ${{ steps.changes.outputs.lua }}
      yaml: ${{ steps.changes.outputs.yaml }}
      prettier: ${{ steps.changes.outputs.prettier }}
      nix: ${{ steps.changes.outputs.nix }}
      shell: ${{ steps.changes.outputs.shell }}
      markdown: ${{ steps.changes.outputs.markdown }}
      actions: ${{ steps.changes.outputs.actions }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            shell:
              - '**/*.sh'
            lua:
              - '**/*.lua'
            yaml:
              - '**/*.yml'
              - '**/*.yaml'
            actions:
              - '**/.github/workflows/**'
            prettier:
              - '**/*.js'
              - '**/*.ts'
              - '**/*.tsx'
              - '**/*.json'
              - '**/*.md'
            nix:
              - '**/*.nix'
            markdown:
              - '**/*.md'
  stylua:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.lua == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          # CLI arguments
          args: --check .
  yamllint:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.yaml == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: "Yamllint"
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_strict: false
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  prettier:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.prettier == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Prettify code
        uses: creyD/prettier_action@v4.6
        with:
          dry: True
          prettier_options: "--check ."
  nixfmt:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.nix == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Install deps
        run: |
          nix-env -i nixfmt-tree -f '<nixpkgs>'
      - name: Run
        run: |
          treefmt --ci
  shfmt:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.shell == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install shfmt
        run: |
          sudo apt-get update && sudo apt-get install -y shfmt
      - name: Run shfmt
        run: |
          find . -type f -name '*.sh' ! -path './programs/linux/polybar/themes-copy/*' -print0 | xargs -0 -I {} shfmt -d {}
  markdownlint:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.markdown == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install markdownlint-cli
        run: |
          npm install -g markdownlint-cli
      - name: Run markdownlint
        run: |
          markdownlint '**/*.md'
  shellcheck:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.shell == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install shellcheck
        run: |
          sudo apt-get update && sudo apt-get install -y shellcheck
      - name: Run shellcheck
        run: |
          find . -type f -name '*.sh' ! -path './programs/linux/polybar/themes-copy/*' -print0 | xargs -0 -I {} shellcheck {}
  actoinlint:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.actions == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: actionlint
        uses: raven-actions/actionlint@v2
